@font-face {
    font-family: "enfont";
    src: url("/static/font/Monaco.ttf") format("truetype");
}

@font-face {
    font-family: "enfont-bold";
    src: url("/static/font/Monaco-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "enfont-thin";
    src: url("/static/font/Monaco.ttf") format("truetype");
}

@font-face {
    font-family: "cnfont";
    src: url("/static/font/Deng.ttf") format("truetype");
}

@font-face {
    font-family: "cnfont-bold";
    src: url("/static/font/Dengb.ttf") format("truetype");
}

@font-face {
    font-family: "cnfont-thin";
    src: url("/static/font/Dengl.ttf") format("truetype");
}
