:root {
    --main-color: #ffffea;
    --tiny-grey-color: #d9d8c6;
    --grey-color: #b5b4a3;
    --alert-color: #00bd23;
    --feedback-color: #45de00;
    --main-font-size: 19px;
}

.mermaid {
    width: 100%;
}

code {
    white-space: pre;
}


body {
    font-family: "enfont", "cnfont";
    background-color: var(--main-color);
    line-height: 27px;
}


#main-area {
    background-color: var(--main-color);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
}
#main-area::-webkit-scrollbar {
    display: none;
}

.toolbar {
    background-color: var(--main-color);
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    border-left: 1px dashed #000000;
}

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    list-style-type: none;
}


details > summary {
    list-style: none;
}

details[open] > summary {
}
