div.mdtag-code-container {
    color: #02b206;
    border-radius: 20px;
    background-color: #000000;
    padding: 20px;
    font-size: 17px;
}

.mdtag-inline-code {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 17px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: #e4e4d1;
    word-break: keep-all;
}

pre.mdtag-mermaid {
    text-align: center;
}
