
div.md-plain-text {
    display: inline;
    font-size: var(--main-font-size);
    font-weight: 100;
}

b {
    font-family: "enfont-bold";
    font-weight: 900;
    font-size: var(--main-font-size);
}
